MovieClient/src/conf/xml-resources/web-service-references/mvWebService/wsdl/localhost_8080/MovieWebService/mvWebService.xsd_1.xsd

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.2-b608 (trunk-7979; 2015-01-21T12:50:19+0000) JAXWS-RI/2.2.11-b150120.1832 JAXWS-API/2.2.12 JAXB-RI/2.2.12-b141219.1637 JAXB-API/2.2.13-b141020.1521 svn-revision#unknown. --><xs:schema xmlns:tns="http://serverpack/" xmlns:xs="http://www.w3.org/2001/XMLSchema" version="1.0" targetNamespace="http://serverpack/">

<xs:element name="checklogin" type="tns:checklogin"/>

<xs:element name="checkloginResponse" type="tns:checkloginResponse"/>

<xs:element name="getsqr" type="tns:getsqr"/>

<xs:element name="getsqrResponse" type="tns:getsqrResponse"/>

<xs:complexType name="checklogin">
<xs:sequence>
<xs:element name="username" type="xs:string" minOccurs="0"/>
<xs:element name="password" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="checkloginResponse">
<xs:sequence>
<xs:element name="return" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="getsqr">
<xs:sequence>
<xs:element name="no" type="xs:int"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="getsqrResponse">
<xs:sequence>
<xs:element name="return" type="xs:int"/>
</xs:sequence>
</xs:complexType>
</xs:schema>